body {
  /* background-image: url("../images/Beach02.jpg"); */
  background-repeat: no-repeat;
}

#formDiv {
       padding: 20px;
       margin-left: 30px;
       width: 420px;
}

#bottomDiv {
       font-size: 8px;
       background-color: black;
}

.white {
       color: white;
}
